<div class="row">
  <div class="col-sm-12">
    <webcam
      [height]="500"
      [width]="500"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      *ngIf="showWebcam"
      [allowCameraSwitch]="allowCameraSwitch"
      [switchCamera]="nextWebcamObservable"
      [videoOptions]="videoOptions"
      (cameraSwitched)="cameraWasSwitched($event)"
      (initError)="handleInitError($event)"
    ></webcam>
  </div>
  <div class="col-sm-12">
    <button class="btn btn-success" (click)="triggerSnapshot()">
      <label>Captura imagem</label>
    </button>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-warning" (click)="showNextWebcam(true)">
      Atualiza Imagem
    </button>
  </div>

  <h4 *ngIf="errors.length > 0">Messages:</h4>
  <ul *ngFor="let error of errors">
    <li>{{ error | json }}</li>
  </ul>
</div>
