<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="nomecliente">
    <th mat-header-cell *matHeaderCellDef> Nome Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.nomecliente}} </td>
  </ng-container>

  <ng-container matColumnDef="dataentrega">
    <th mat-header-cell *matHeaderCellDef> Data Entrega </th>
    <td mat-cell *matCellDef="let element"> {{element.dataentrega}} </td>
  </ng-container>

  <ng-container matColumnDef="dataretirada">
    <th mat-header-cell *matHeaderCellDef> Data Retirada </th>
    <td mat-cell *matCellDef="let element"> {{element.dataretirada}} </td>
  </ng-container>

  <ng-container matColumnDef="entregue">
    <th mat-header-cell *matHeaderCellDef> Entregue </th>
    <td mat-cell *matCellDef="let element"> {{element.entregue}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr (click)="clickedRow(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
