<div class="row">
  <div class="col-sm-6">
    <label>Nome Cliente</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-sm-6">
    <label>Valor Acordado</label>
    <input class="form-control" type="text" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Data inicio Locação do dia</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-sm-6">
    <label>Data fim Locação do dia</label>
    <input class="form-control" type="text" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Inicio contrato</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-sm-6">
    <label>Fim contrato</label>
    <input class="form-control" type="text" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Observação 1</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-sm-6">
    <label>Observação 2</label>
    <input class="form-control" type="text" />
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <label>Foto do equipamento: </label>
    <button
      style="margin-left: 20px"
      class="btn btn-primary"
      (click)="abrircamera()"
    >
      Abrir Camera
    </button>
    <app-camera #camera (pictureTaken)="handleImage($event)"></app-camera>

    <div *ngIf="webcamImage">
      <img [src]="webcamImage.imageAsDataUrl" />
    </div>
  </div>
</div>

<div class="row align-self-end">
  <div class="col-sm-12">
    <button (click)="Salvar()" class="btn btn-success">Salvar</button>
  </div>
</div>
