<div class="row">
  <div class="col-sm-6">
    <label>Texto</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-sm-6">
    <label>Texto</label>
    <input class="form-control" type="text" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Nome Cliente</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-sm-6">
    <label>Valor Acordado</label>
    <input class="form-control" type="text" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Data inicio Locação do dia</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-sm-6">
    <label>Data fim Locação do dia</label>
    <input class="form-control" type="text" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Inicio contrato</label>
    <input class="form-control" type="text" />
  </div>
  <div class="col-sm-6">
    <label>Fim contrato</label>
    <input class="form-control" type="text" />
  </div>
</div>

<div class="row">
  <app-camera (pictureTaken)="handleImage($event)"></app-camera>

  <div class="snapshot" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl" />
  </div>

</div>
